* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
}

body {
  font-family: sans-serif;
}

div.code {
  white-space: pre-wrap;
}

hr {
  margin: 0.5rem 0;
}

main {
    display: flex;
    flex-direction: row;
}

.clipview {
    height: 100vh;
    width: 30%;
    border: 1px solid black;
    resize: horizontal;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 1rem;
}

.codeview {
    height: 100vh;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.clipsection pre{
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.clipsection pre::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.clipsection pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.codesection {
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.currentstate {
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.statesection {
  position: relative;
}

.statesection pre {
  min-height: 2rem;
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
