<!-- HistoryItem -->
{{ range .Items }}
<section class="clipsection">
    <!-- <label>ID: {{ .ID }}</label> -->
    <div hx-target="closest section">
        <button
          hx-post="/page/execute/{{ .ID }}"
        >Execute</button>
        <button
          hx-delete="/page/clip/{{ .ID }}"
        >Remove</button>
    </div>
    <pre data-simplebar>{{ .Code }}</pre>
    <hr>
</section>
{{ end }}
<div
  hx-get="/page/clip?start={{.LastID}}"
  hx-trigger="load delay:100ms"
  hx-swap="outerHTML"
  hx-target="this"
></div>
