{{- $debug := .Debug -}}
{{- range .States -}}
<section class="codesection">
  <div class="code">{{ .Code }}</div>
  <hr>
  {{ if $debug }}<p>Kernel ID: {{ .KernelID }}</p><hr>{{ end }}
  <div class="loader"
    hx-get="/page/result/{{ .ID }}"
    hx-swap="outerHTML"
    hx-trigger="load"
  ></div>
  <div class="panel" hx-swap="outerHTML" hx-target="closest section">
    <button
      hx-get="/page/select/{{ .ID }}"
      _="on click hide .removestate"
    >Select</button>
    <button
      hx-delete="/page/code/{{ .ID }}"
    >Remove</button>
  </div>
</section>
{{- end }}
<div
  hx-get="/page/code?start={{.LastID}}"
  hx-trigger="load delay:1s,codeExecuted from:body"
  hx-swap="outerHTML"
  hx-target="this"
></div>
