<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ "Autopyter" }}</title>
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>
  <script>
    function unhideLastResetButton(){
      var elements = document.querySelectorAll(".removestate")
      if (elements.length > 1) {
        console.log("Unhiding last reset button");
        elements[elements.length-2].style.display = "block";;
      }
    }
    // htmx.logAll();
    document.body.addEventListener("codeExecuted", function(evt){
      console.log("Code executed: " + evt.detail);
    })
    document.body.addEventListener("stateUpdated", function(evt){
      console.log("State updated: " + evt.detail);
    })
  </script>
  <main hx-boost="true">
    <div id="clipview" class="clipview"
      hx-get="/page/clip"
      hx-trigger="load"
    ></div>
    <div id="codeview" class="codeview">
      <div class="currentstate">
        <div class="header">
          <h2>Previous States</h2>
          <button
            hx-get="/page/reset"
            hx-swap="none"
          >Reset</button>
        </div>
        <hr>
        <div
          hx-get="/page/state"
          hx-trigger="load,stateReset from:body"
        ></div>
      </div>
      <h2>Current States</h2>
      <div class="previousstate"
        hx-get="/page/code"
        hx-trigger="load"
      ></div>
    </div>
  </main>
</body>
</html>
